@import "https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bodoni+Moda:ital,opsz@0,6..96;1,6..96&family=Didact+Gothic&family=Limelight&display=swap";

*, html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Didact Gothic", sans-serif;
  background-color: #ebd9b9;
}

a {
  &:active {
    text-decoration: none;
    transition: all ease-in-out 0.3s;
  }
  &:visited {
    text-decoration: none;
    transition: all ease-in-out 0.3s;
  }
}

header {
  text-align: center;
  display: flex;
  justify-content: center;
  a {
    text-decoration: none;
    &:active {
      text-decoration: none;
    }
    &:visited {
      text-decoration: none;
    }
  }
  .title {
    font-size: 1.6rem;
    font-family: "Didact Gothic", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    > span {
      font-family: "Limelight", display;
      font-size: 6rem;
    }
  }
  .subtitle {
    font-family: "Didact Gothic", sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-bottom: 50px;
  }
}

.booking {
  width: 99.5%;
  height: 99vh;
  margin-top: 100vh;
  margin-left: 0;
  background-color: #701b1b;
  border-radius: 10px;
}

.contact-form {
  width: 99.5%;
  height: 99vh;
  margin-top: 100px;
  margin-left: 0;
  background-color: #701b1b;
  border-radius: 10px;
}

#scroll-to-top {
  background: transparent;
  border: none;
  border-radius: 10px;
  color: #222;
  font-size: 20px;
  position: fixed;
  bottom: 30px;
  right: 40px;
  display: none;
  font-family: 'Abril Fatface', serif;
  font-weight: 400;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  line-height: 100%;
  &:hover {
    background: #222;
    color: #fefefe;
    transition: all 0.3s ease-in-out;
  }
}

.navigation {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: #ebd9b9;
  .nav {
    text-align: center;
    padding: 30px;
    margin-bottom: 20px;
    &-title {
      font-size: 1.6rem;
      font-family: "Didact Gothic", sans-serif;
      text-transform: uppercase;
      letter-spacing: 2px;
      > span {
        font-family: "Limelight", display;
        font-size: 6rem;
      }
    }
    &-subtitle {
      font-family: "Didact Gothic", sans-serif;
      font-size: 1.2rem;
      letter-spacing: 1px;
    }
  }
  .anchor-link {
    display: inline-block;
    width: 24%;
    margin: 0.5%;
    text-decoration: none;
    text-align: center;
    padding: 20px 0;
    background-color: transparent;
    color: #1b1710;
    border-radius: 20em;
    transition: all 0.5s ease;
    &-selected {
      display: inline-block;
      padding: 20px 0;
      text-align: center;
      width: 24%;
      margin: 0.5%;
      background-color: #1b1710;
      color: #fef3df;
      border-radius: 20em;
      text-decoration: none;
      &:hover {
        background-color: #701b1b;
      }
    }
    &:hover {
      background-color: #701b1b;
      color: #fef3df;
      transition: all 0.5s ease;
    }
  }
}

.slider-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 100px;
  .slider {
    display: flex;
    justify-content: center;
    height: 550px;
    width: 800px;
    overflow: hidden;

    @media only screen and (max-width: 375px) {
      height: 400px;
      width: 300px;
    }

    .image {
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      will-change: transform, opacity;
  
      &:hover {
        cursor: grab;
      }
  
      &:active {
        cursor: grabbing;
      }
    }
  }

  .thumbnails {
    display: flex;
    justify-content: center;
    .thumbnail-container {
      position: relative;
      height: 120px;
      width: 90px;    
      @media only screen and (max-width: 375px) {
        height: 70px;
        width: 50px;
      }
      &:hover {
        cursor: pointer;
      }
      &:not(:last-of-type) {
        margin-right: 5px;
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
      .active-indicator {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        pointer-events: none;
        transform: scaleX(0);
        transform-origin: left;
        background-color: #333;
        transition: 1s cubic-bezier(0.56, 0.03, 0.12, 1.04) transform;
  
        &.active {
          transform: scaleX(1);
        }
      }
    }
  }

  .buttons {
    margin-top: 12px;
    button {
      outline: none;
      border: none;
      user-select: none;
      padding: 10px 12px;
      background-color: #333;
      font-family: inherit;
      font-size: inherit;
      color: white;
      transition: .07s ease-out transform;
      &:first-of-type {
        margin-right: 15px;
      }
      &:hover {
        cursor: pointer;
      }
      &:active {
        transform: scale(.85) skewY(-5deg) rotate(5deg);
      }
    }
  }   
}